.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  align-items: center;
}
.control-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
input {
  width: 200px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #929292;
}
input:hover {
  border: 1px solid #555555;
}
button[data-reset],
button[data-start] {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2;

  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;

  transition: background-color 250ms ease-in, color 250ms ease-in;
}
button[data-reset] {
  background-color: #f14747;
}
button[data-reset]:hover {
  background-color: #0590a8;
  color: #ffffff;
}
button[data-start] {
  background-color: rgb(255, 209, 5);
}
button:hover {
  background-color: rgb(29, 172, 0);
  color: #ffffff;
}
button:disabled {
  background-color: #9c9c9c;
  color: rgb(0, 0, 0);
  cursor: auto;
}
.timer {
  display: flex;
  margin-top: 30px;
  gap: 20px;

  justify-content: center;
  align-items: center;
  text-align: center;
}
.field {
  display: flex;
  width: 150px;
  flex-direction: column;
}
.value {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline 3px;
  text-underline-offset: 10px;
}
